# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python package

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.13", "3.12", "3.11"]

    steps:
    - uses: actions/checkout@v4
    - uses: dtolnay/rust-toolchain@stable

    - name: Install uv and set Python version
      uses: astral-sh/setup-uv@v6 # Use the official setup-uv action
      with:
        python-version: ${{ matrix.python-version }} # Use the Python version from the matrix

    - name: Install dependencies
      run: |
        cd python
        uv sync # Install dependencies from pyproject.toml and uv.lock
        uv pip install pytest
        cargo build --verbose

    - name: Run tests with pytest
      run: |
        cd python
        uv run pytest # Execute pytest within the uv-managed environment
        cargo test --verbose
